<html>
<head>
    <title><%=title%></title>
</head>
<body>
    <%- include('_header');%>
    <h1>Codeial/<%=title%></h1>
    <%- include('_footer');%>
</body>

</html>
<!-- i want this ejs/html page to be rendered ,so i will have to connect it to a 
 controller !-->