<link rel="stylesheet" href="/css/user_sign_in.css">

<h1>Welcome Back--SIGN IN</h1>
<div id="back-image">
<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email"class="SignIn" required>
    <input type="password" name="password" placeholder="Enter Passcode"class="SignIn" required>
    <input type="submit" value="Sign In">

</form>
<div id="authServices">
    <a href="/users/auth/google">Google Sign In / Sign Up</a>
</div>
</div>